[Desktop Entry]
Name=ShareXin
Exec=sharexin
Icon=mail-send.svg
Type=Application
Comment=ShareX for Linux and FreeBSD
Terminal=true
Categories=Network;Utility;GTK;
StartupWMClass=sharexin
